<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">


</head>
<body>

<div id="main" class="jumbotron d-flex align-items-center min-vh-100">
    <a target="_self" rel="noopener noreferrer" th:href="@{/}" class="border border-dark p-1 mr-2 rounded">
        Back
    </a>
    <div class="container">
        <div class="row">
            <div id="hp_link" class="col-3 text-center">
                <h4><a th:href="@{/admin/personAll}">Users</a> </h4>
            </div>
            <div id="hp_link" class="col-3 text-center">
                <h4><a th:href="@{/admin/personAdd}">Add user</a> </h4>
            </div>
            <div id="hp_link" class="col-3 text-center">
                <h4><a th:href="@{/admin/appAll}">Applications</a> </h4>
            </div>
            <div id="hp_link" class="col-3 text-center">
                <h4><a th:href="@{/admin/appAdd}">Add application</a> </h4>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

</body>
</html>