<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Applications</title>
</head>
<body>

    <h1>Aplikacje</h1>

    <h2>No of records: <span th:text="${apps.size()}"></span></h2>

    <div>
        <h3 th:if="${#lists.isEmpty(apps)}">No person in our db</h3>
        <div th:unless="${#lists.isEmpty(apps)}">
            <h2>Applications</h2>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Domain</th>
                    <th>Users</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="app : ${apps}">
                    <td th:text="${app.id}"></td>
                    <td th:text="${app.name}"></td>
                    <td th:text="${app.domain}"></td>
                    <td th:text="${app.user_list}"></td>

                    <td><a th:href="@{/appDelete(domain=${app.domain})}">Delete</a>
                        <!--<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#users">Pokaż użytkowników</button>-->
                        <a th:href="@{/appAll/selectUser(domain=${app.domain})}">Dodaj użytkowników</a>
                        <a th:href="@{/appAll/edit(domain=${app.domain})}">Edytuj</a>
                    </td>
<!-- MODAL --------------------------------------------------------------------------------------------------------------------------------------------------------
                        <div class="modal fade" id="users" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Użytkownicy</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h3 th:if="${#lists.isEmpty(app.user_list)}">No users</h3>
                                        <div th:unless="${#lists.isEmpty(apps.user_list)}">
                                            <table>
                                                <thead>
                                                <tr>
                                                    <th>First name</th>
                                                    <th>Last name</th>
                                                    <th>Email</th>
                                                    <th>Country</th>
                                                    <th>Username</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="user : @{/appAll(domain=app.domain)}">
                                                    <td th:text="${user.first_name}"></td>
                                                    <td th:text="${user.last_name}"></td>
                                                    <td th:text="${user.email}"></td>
                                                    <td th:text="${user.country}"></td>
                                                    <td th:text="${user.username}"></td>

                                                    <td><a th:href="@{/appDelete(domain=${app.domain})}">Delete</a>
                                                        <a th:href="@{/appDelete}">Edit</a>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
 MODAL --------------------------------------------------------------------------------------------------------------------------------------------------------->

                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
</html>