<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

</head>
<body>

    <h1>WITAM</h1>

    <h4><a th:href="@{/personAll}">Użytkownicy</a> </h4>
    <h4><a th:href="@{/personAdd}">Dodaj użytkownika</a> </h4>
    <h4><a th:href="@{/appAll}">Aplikacje</a> </h4>
    <h4><a th:href="@{/appAdd}">Dodaj aplikację</a> </h4>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

</body>
</html>